@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}
/* 
.d-height {
  height: 100vh;
} */

/* .d-width {
  width: 40%;
} */

.focus-border {
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 1s;
}

.focus-border:focus {
  border: 1px solid greenyellow;
  outline: none;
}

/* input[type="text"]:focus {
  border: 2px solid red;
} */

.btn {
  background-color: #431c1c;
  color: #fc2;
  /* transform: translate(0.9); */
  transition: 0.5s;
}

.btn:hover {
  background-color: #594444;
}

.h4-color {
  color: #431c1c;
  font-weight: 500;
}

.p-color {
  color: #fc2;
  font-weight: 500;
}

.d-height label {
  font-weight: 500;
}

.agree {
  font-size: 0.9rem;
  font-size: 300;
}

input[type='checkbox'], input[type='radio'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}